<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Avro Keyboard</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Avro Keyboard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>InputMethodConnectionName</key>
	<string>Avro_Keyboard_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>AvroKeyboardController</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/mobashirrahman/iAvro/appcast/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>KUwnCPJsJQYIeE6sopEU0B42V8fs0vFZNw4aftURezw=</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>TISIntendedLanguage</key>
	<string>bn</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Beng</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>MenuIcon</string>
</dict>
</plist>
