<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CandidatePanelType</key>
	<integer>1</integer>
	<key>CommitNewLineOnEnter</key>
	<false/>
	<key>ClassicPhonetic</key>
	<false/>
	<key>PreferTransliteration</key>
	<false/>
	<key>OfferEnglishSuggestion</key>
	<true/>
	<key>IncludeDictionary</key>
	<true/>
	<key>ShowInlineBangla</key>
	<true/>
	<key>EnableAutoCorrect</key>
	<true/>
	<key>EnableSuggestions</key>
	<true/>
</dict>
</plist>
